<form action="/bags/create" method="POST">
    <label>name: </label>
    <input type="text" name="name">
    <label>tid: </label>
    <input type="number" name="tid">
    <input type="submit" value="Submit">
</form>