<form action="/bags/update/<%- bag.bid %>" method="POST">
    <label>name: </label>
    <input type="text" name="name" value="<%- bag.name %>">
    <label>tid: </label>
    <input type="number" name="tid" value="<%- bag.tid %>">
    <input type="submit" value="Submit">
</form>