<form action="/responsibilitiesTaken/create" method="POST">
    <label>bid: </label>
    <input type="number" name="bid">
    <label>pid: </label>
    <input type="number" name="pid">
    <input type="submit" value="Submit">
</form>