<form action="/responsibilitiesTaken/update/<%- responsibilityTaken.pid %>" method="POST">
    <label>bid: </label>
    <input type="text" name="bid" value="<%- responsibilityTaken.bid %>">
    <label>pid: </label>
    <input type="number" name="pid" value="<%- responsibilityTaken.pid %>">
    <input type="submit" value="Submit">
</form>