<form action="/items/create" method="POST">
    <label>name: </label>
    <input type="text" name="name">
    <label>bid: </label>
    <input type="number" name="bid">
    <label>count: </label>
    <input type="number" name="count" step=any >
    <input type="submit" value="Submit">
</form>