<form action="/items/update/<%- item.iid %>" method="POST">
    <label>name: </label>
    <input type="text" name="name" placeholder="<%- item.name %>">
    <label>bid: </label>
    <input type="number" name="bid" placeholder="<%- item.bid %>">
    <input type="submit" value="Submit">
</form>