<form action="/players/update/<%- player.pid %>" method="POST">
    <label>name: </label>
    <input type="text" name="name" value="<%- player.name %>">
    <label>tid: </label>
    <input type="number" name="tid" value="<%- player.tid %>">
    <input type="submit" value="Submit">
</form>